<h3>Login</h3>

<form method="POST" action="/session">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit">
</form>