<h3>Register</h3>

<form method="POST" action="/users">
  <input type="text" name="user[name]" placeholder="name">
  <input type="text" name="user[username]" placeholder="username">
  <input type="password" name="user[password]" placeholder="password">
  <input type="submit">
</form>